<form action="/data" method = "POST">
    <p>Enter your zip code and the maximum distance you're willing to travel to pick up your subaru</p>
    <p>Zip Code <input type = "text" name = "zip_code" /></p>
    <p>Maximum travel distance (miles) <input type = "text" name = "max_distance" /></p>
    <p> Enter a keyword (case sensitive) or leave it back if you don't want to filter your results</p>
    <p>Model <input type = "text" name = "model" /></p>
    <p>Edition (Limited, Premium, etc) <input type = "text" name = "edition"/></p>
    <p>Color <input type= "text" name = "exteriorColor" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
